<div style="padding:10px" class="text-center">
	<div class="copy-text">
		A Collection of recipes from Adobe Forums<br>and Mike Hale's ps-scripts.com<br>
		~ Last update: {{ site.time | date: "%d %B, %Y" }} ~
	</div>
    <a class="btn btn-flat btn-sm btn-material-purple" href="{{ site.baseurl }}/contributing.html">
        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>&nbsp;&nbsp;Contribute
    </a>
    <a class="btn btn-flat btn-sm btn-material-purple" href="{{ site.baseurl }}/contributing.html">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;&nbsp;Authors
    </a>
</div>
