body {
    padding-top: 51px;
}

.text-center {
    padding-top: 20px;
}

.col-xs-12 {
    background-color: #fff;
}

#sidebar {
    height: 100%;
    padding-right: 0;
    padding-top: 20px;
    max-width: 300px;
    z-index: 1;
    // margin-bottom: 20px;
}

#sidebar .nav {
    width: 95%;
    margin-bottom: 20px;
}

#sidebar li {
    border: 0 #f2f2f2 solid;
    border-bottom-width: 1px;
}

#recipe {
    padding-left: 20px;
    padding-top: 10px;
    background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc3NjgiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNGRkZGRkYiIG9mZnNldD0iLjYiLz48c3RvcCBzdG9wLWNvbG9yPSIjRUVFRUVFIiBvZmZzZXQ9IjEiLz4KPC9saW5lYXJHcmFkaWVudD4KPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNnNzY4KSIgLz4KPC9zdmc+) !important;
    background-repeat: repeat;
    background-color: white;
}

/* collapsed sidebar styles */

@media screen and (max-width: 767px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }
    .row-offcanvas-right .sidebar-offcanvas {
        right: -41.6%;
    }
    .row-offcanvas-left .sidebar-offcanvas {
        left: -300px;
        // left: -41.6%;
    }
    .row-offcanvas-right.active {
        right: 41.6%;
    }
    .row-offcanvas-left.active {
        // left: 41.6%;
        left: 300px;
    }
    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 300px;
        // width: 41.6%;
    }
    #sidebar {
        padding-top: 0;
        width:300px;
    }
    #sidebar .nav {
        margin-bottom: 20px;
    }
}
